/ProjetoQuickFood/build/
/ProjetoQuickFood/dist/
/WebServiceQuickFood/dist/
/WebServiceQuickFood/build/
WebServiceQuickFood/nbproject/private/private.properties
WebServiceQuickFood/nbproject/private/private.properties
WebServiceQuickFood/nbproject/ant-deploy.xml
WebServiceQuickFood/nbproject/private/private.xml
WebServiceQuickFood/nbproject/project.properties
