/ProjetoQuickFood/build/
/ProjetoQuickFood/dist/
/WebServiceQuickFood/dist/
/WebServiceQuickFood/build/
WebServiceQuickFood/nbproject/private/private.properties
WebServiceQuickFood/nbproject/private/private.properties
WebServiceQuickFood/nbproject/ant-deploy.xml
WebServiceQuickFood/nbproject/private/private.xml
WebServiceQuickFood/nbproject/project.properties
/ProjetoQuickFood/nbproject/private/
/mavenproject1/target/
WebServiceQuickFood/src/java/com/senai/wsquickfood/ws/ApplicationConfig.java
WebServiceQuickFood/src/java/com/senai/wsquickfood/ws/ApplicationConfig.java
WebServiceQuickFood/nbproject/private/private.properties
WebServiceQuickFood/nbproject/private/private.xml
WebServiceQuickFood/nbproject/private/private.xml
/CrudAngular/nbproject/private/