<form action="#" class="form col-md-6 col-xs-12 col-sm-3" >
    <div class="md-form">
        <label for="login">Login</label>
        <input type="text" class="form-control" id="Name"/>
      </div>
  
      <div class="md-form">
        <label for="password">Senha</label>
        <input type="password" class="form-control" id="password"/>
      </div>
      
      <div class="form-group">
        <button class="btn btn-rounded peach-gradient btn-block">Login</button>
      </div>
      <div class="form-group">
        <button class="btn btn-rounded peach-gradient btn-block">Cadastrar</button>
      </div>
        <p class="text-center "><a href="#">Esqueceu sua senha?</a></p>
  </form>