<div>
    <div class="text-center">
        <div class="badge badge-warning text-wrap" style="margin-top: -5%">
            <h2> Ingredientes </h2>
        </div>
        <div class="form-receita" style="margin-top: -5%">

            <h5 class="form-group">
                <small class="badge badge-warning text-wrap">Escolha as medidas de cada ingrediente</small>
            </h5>

            <img class="img-receita card-img-top img-fluid animated fadeInRight" src="assets/Ativo 3@4x.png"
                alt="Card image cap">




            <div class="text-center">

                <div class="row">

                    <div class="col-3">
                        <label for="select1">Ingredientes</label>


                        <select class="browser-default custom-select form-group" id="select1" (change)="onSelectIngredinte($event.target.value)>
                            <option selected>Ingredientes</option>
                            <option *ngFor="let i of ingredientes" value="{{i.bdNome}}">
                        </select>
                    </div>

                    <div class="col-3">
                        <label for="select2">Unidade</label>

                        <select class="browser-default custom-select form-group " id="select2">
                            <option selected>Unidade de Medida</option>
                            <option value="1">Colher</option>
                            <option value="2">Xícara</option>
                            <option value="3">Copo</option>
                        </select>
                    </div>

                    <div class="col-3">

                        <label for="select3">Quantidade</label>


                        <select class="browser-default custom-select form-group" id="select3">
                            <option selected>Quantidade</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>

                <div class="row">

                    <div class="col-3">


                        <select class="browser-default custom-select">
                            <option selected>Ingredientes</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>

                    <div class="col-3 form-group">

                        <select class="browser-default custom-select ">
                            <option selected>Unidade de Medida</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>

                    <div class="col-3 form-group">



                        <select class="browser-default custom-select ">
                            <option selected>Quantidade</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>

                <div class="row">

                    <div class="col-3">


                        <select class="browser-default custom-select form-group">
                            <option selected>Ingredientes</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>

                    <div class="col-3">

                        <select class="browser-default custom-select ">
                            <option selected>Unidade de Medida</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>

                    <div class="col-3">



                        <select class="browser-default custom-select ">
                            <option selected>Quantidade</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>






                <!-- Sign in button -->
                <a role=button href="cadastrar_receita.1.html"
                    class="btn btn-link btn-rounded  z-depth-0 my-4 waves-effect">Voltar</a>

                <a role=button href="../Quickfood/cadastrar_receita.3.html"
                    class="btn btn-amber btn-rounded  z-depth-0 my-4 waves-effect">Próximo</a>




            </div>
        </div>
    </div>
</div>