<div>
    <div class="text-center">
        <div class="badge badge-warning text-wrap" style="margin-top: -5%">
            <h2> Modo de Preparo </h2>
        </div>
        <div class="form-receita" style="margin-top: -5%">

            <img class="img-receita card-img-top img-fluid animated fadeInRight form-group" src="assets/Ativo 5@4x.png"
                alt="Card image cap" id="preparo">

            <div class="form-group shadow-textarea">
                <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3"
                    placeholder="Escreva seu modo de preparo..."></textarea>
            </div>

            <!-- Sign in button -->
            <a role=button routerLink="/cadastrar-unidade-medida"
                class="btn btn-link btn-rounded  z-depth-0 my-4 waves-effect">Voltar</a>

            <a role=button href="../Quickfood/cadastrar_receita.4.html"
                class="btn btn-amber btn-rounded  z-depth-0 my-4 waves-effect">Próximo</a>
        </div>
    </div>
</div>