<!-- Search form -->
<form class="form-inline md-form form-sm pr-3 pl-2 active-amber-2">
    <!-- SideNav slide-out button -->
    <a href="#" data-activates="slide-out" class="btn btn-amber p-3 button-collapse "><i class="fas fa-bars"></i></a>
    <input class="form-control form-control-sm ml-2 mr-2 w-75 " type="text" placeholder="Search" aria-label="Search">
    <i class="fas fa-search" aria-hidden="true"></i>
</form>

<div id="slide-out" class="side-nav fixed wide amber side-nav-dark">
    <ul class="custom-scrollbar">
        <!-- Logo -->
        <li>
            <div class="logo-wrapper sn-ad-avatar-wrapper">
                <a href="#"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg"
                        class="rounded-circle"><span>Anna
                        Deynah</span></a>
            </div>
        </li>
        <!--/. Logo -->
        <!-- Side navigation links -->
        <li>
            <ul class="collapsible collapsible-accordion">

                <ul>
                    <li>
                        <a href="#" class="waves-effect active">
                            <span class="sv-slim"> <i class="fas fa-home"></i> </span>
                            <span class="sv-normal">Home</span></a>
                    </li>
                    <li>
                        <a href="#" class="waves-effect">
                            <span class="sv-slim"> <i class="fas fa-utensils"></i> </span>
                            <span class="sv-normal">Cadastrar Receita</span></a>
                    </li>

                    <li>
                        <a href="#" class="waves-effect">
                            <span class="sv-slim"> <i class="fas fa-chart-pie"></i> </span>
                            <span class="sv-normal">Relatórios</span></a>
                    </li>
                    <li>
                        <a href="#" class="waves-effect">
                            <span class="sv-slim"> <i class="fas fa-sign-out-alt"></i> </span>
                            <span class="sv-normal">Sair</span></a>
                    </li>

                </ul>
            </ul>
        </li>
    </ul>
</div>

<!--/. Side navigation links -->
<div class="sidenav-bg amber"></div>
<!--/. Sidebar navigation -->

<div class="card-deck">
    <!-- Card Narrower -->
    <div class="card card-cascade narrower card mb-2">

        <!-- Card image -->
        <div class="view view-cascade overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"
                alt="Card image cap">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade">

            <!-- Label -->
            <h5 class="pink-text pb-2 pt-1"><i class="fas fa-utensils"></i> Culinary</h5>
            <!-- Title -->
            <h4 class="font-weight-bold card-title">Cheat day inspirations</h4>
            <!-- Text -->
            <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                laboriosam, nisi ut aliquid ex ea commodi.</p>
            <a class="px-2 fa-lg red-text "><i class="fas fa-heart"></i></a>


        </div>



    </div>
    
    <!-- Card Narrower -->
    <div class="card card-cascade narrower card mb-2">

        <!-- Card image -->
        <div class="view view-cascade overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"
                alt="Card image cap">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade">

            <!-- Label -->
            <h5 class="pink-text pb-2 pt-1"><i class="fas fa-utensils"></i> Culinary</h5>
            <!-- Title -->
            <h4 class="font-weight-bold card-title">Cheat day inspirations</h4>
            <!-- Text -->
            <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                laboriosam, nisi ut aliquid ex ea commodi.</p>
            <!-- Button -->
            <a class="btn btn-unique">Button</a>

        </div>

        <!-- Card footer -->
        <div class="card-footer text-muted text-center">
            2 days ago
        </div>

    </div>
    <!-- Card Narrower -->
</div>